# docs
cases/
conductify_ai/
flowise/
workflows/

rule_0.js
rule_1.js

# airflow
airflow.db
simple_auth_manager_passwords.json.generated

# env
.env

# dependencies
**/.venv
uv.lock
**/volumes

# logs
**/logs
**/*.log

# build
**/__pycache__
**/dist
**/build

# editor
**/.vscode

# dependencies
**/node_modules

# bot
.localConfigs.playground
.localConfigs
**/*.zip

# data
**/sample-data
